

<div class="jumbotron text-center">
    <div class="searcbar">
        <input type="text" ng-model="searchValue">
        <button class="btn btn-primary" ng-click="searchBook()">search</button>
        <button class="btn btn-primary" ng-click="showMore()">showAll</button>
    </div>

    <div class="content">
        <ul>
            <li ng-repeat="book in books track by $index">
                <span ng-repeat=" (key ,value) in book" ng-click="clinkFn(key,value)">{{value}}</span>
            </li>
        </ul>
    </div>
</div>